<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Korisnici</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/komitenti_style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="pre-header">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                        </div>
                        <div class="col-md-8">
                            <ul class="primary-menu">
                                <li><a href="/adminHome">Home</a></li>
                                <li class="active"><a href="/korisnici">Korisnici</a></li>
                                <li><a href="/dodaj_korisnika">Dodaj korisnika</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>E-mail</th>
                    <th>Funkcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(korisnik, index) in korisnici">
                    <td>{{korisnik.id}}</td>
                    <td>{{korisnik.username}}</td>
                    <td>{{korisnik.password}}</td>
                    <td>{{korisnik.email}}</td>
                    <td>
                        <button class="btn border border-dark" data-toggle="modal" data-target="#izmenaModal" @click="izmeni(korisnik.id); selektovaniKorisnik = korisnik.id">Izmeni</button>
                        <button class="btn border border-dark" @click="selektovaniKorisnik = korisnik.id; checkUkloni(korisnik.id)">Ukloni</button>
                        <button class="btn border border-dark" data-toggle="modal" data-target="#detaljiModal" @click="detalji(korisnik.id); selektovaniKorisnik = korisnik.id">Detalji</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal izmena-->
        <div class="modal fade" id="izmenaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Izmena naloga</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Prava pristupa</h5>
                        <table class="my-1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Pravo</th>
                                    <th>Naziv prava</th>
                                    <th>Funkcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(pravo, index) in dodeljena_prava_pristupa">
                                    <td>{{pravo.id}}</td>
                                    <td>{{pravo.pravo_pristupa_id}}</td>
                                    <td>{{pravo.naziv}}</td>
                                    <td>
                                        <button class="btn border border-dark" @click="ukoloniPravo(pravo.id)">Ukloni</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button v-if="dodajPravoCheck == false" class="btn border border-dark" @click="dodajPravoCheck = true;">Dodaj pravo pristupa</button>
                        <form v-if="dodajPravoCheck" @submit.prevent="dodajPravo">
                            <div>
                                <select v-model="pravoZaDodavanje.pravo_pristupa_id" id="pravoPristupaSelect">
                                    <option v-for="(pravo_p, index) in prava_pristupa" :key="index" :value="pravo_p.id">{{pravo_p.naziv}}</option>
                                </select>
                            </div>
                            <div class="d-flex flex-row-reverse my-1">
                                <button type="submit" class="btn border border-dark">Dodaj pravo</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal detalji -->
        <div class="modal fade" id="detaljiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Detalji naloga</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Prava pristupa</h5>
                        <table class="my-1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Pravo</th>
                                    <th>Naziv prava</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(pravo, index) in korisnikDetaljno['dodeljena_prava_pristupa']">
                                    <td>{{pravo.id}}</td>
                                    <td>{{pravo.pravo_pristupa_id}}</td>
                                    <td>{{pravo.naziv}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Username : {{korisnikDetaljno.username}}</p>
                        <p>Password : {{korisnikDetaljno.password}}</p>
                        <p>E-mail : {{korisnikDetaljno.email}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal brisanje -->
        <div class="modal fade" id="brisanjeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Detalji naloga</h4>
                    </div>
                    <div class="modal-body">
                        <h2>Ovaj korisnik ima dodeljena prava pristupa!</h2>
                        <h2>Da li sigurno zelite obrisati korisnik?</h2>
                        <div class="container">
                            <button type="button" class="btn btn-default" style="min-width : 49%!important;" data-dismiss="modal" @click = "obrisiKorisnika">DA</button>
                            <button type="button" class="btn btn-default" style="min-width : 49%!important;"data-dismiss="modal" @click="imaPravaPristupa=false">NE</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" @click="imaPravaPristupa=false">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        Vue.createApp({
            data() {
                return {
                    prava_pristupa : [],
                    dodajPravoCheck : false,
                    korisnici : [],
                    dodeljena_prava_pristupa : [],
                    pravoZaDodavanje : {
                        pravo_pristupa_id : undefined
                    },
                    selektovaniKorisnik : 0,
                    korisnikDetaljno : {
                        username : undefined,
                        password : undefined,
                        email : undefined,
                        dodeljena_prava_pristupa : []
                    }
                }
            },
            created() {
                axios.get("/api/korisnici/sve").then(response => {
                    this.korisnici = response.data;
                });
                axios.get("/api/prava_pristupa_naziv").then(response => {
                    this.prava_pristupa = response.data;
                });
            },
            methods : {
                izmeni(korisnik_id) {
                    axios.get(`/api/prava_pristupa/${korisnik_id}`).then(response => {
                        this.dodeljena_prava_pristupa = response.data
                    });
                },
                ukoloniPravo(id) {
                    axios.delete(`/api/korisnik/prava/${id}`).then(response => {
                        axios.get(`/api/prava_pristupa/${this.selektovaniKorisnik}`).then(response => {
                            this.dodeljena_prava_pristupa = response.data
                        });
                    });
                },
                dodajPravo() {
                    this.dodajPravoCheck = false;
                    axios.post(`/api/prava_pristupa/${this.selektovaniKorisnik}`, this.pravoZaDodavanje).then(response => {
                        axios.get(`/api/prava_pristupa/${this.selektovaniKorisnik}`).then(response => {
                            this.dodeljena_prava_pristupa = response.data
                        });
                    });
                },
                detalji(korisnik_id) {
                    axios.get(`/api/korisnici/sve/${korisnik_id}`).then(response => {
                        this.korisnikDetaljno = response.data;
                        axios.get(`/api/prava_pristupa/${this.selektovaniKorisnik}`).then(response => {
                            this.korisnikDetaljno["dodeljena_prava_pristupa"] = response.data;
                        });
                    });
                },
                obrisiKorisnika() {
                    axios.delete(`/api/korisnici/${this.selektovaniKorisnik}`).then(response => {
                        axios.get("/api/korisnici/sve").then(response => {
                            this.korisnici = response.data;
                        });
                    });
                },
                checkUkloni(korisnik_id) {
                    axios.get(`/api/permisije/${korisnik_id}`).then(response => {
                        if(response.data.length < 1) {
                            this.obrisiKorisnika();
                        }
                        else {
                            (function($) {
                                $('#brisanjeModal').modal("show");
                            })(jQuery);
                        }
                    });
                }
            }
        }).mount("#app");
    </script>

</body>
</html>