<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komitenti | Pregled</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/komitenti_style.css">
</head>
<body style="background-color: rgba(241,240,246,255);">
    <div id="app">
        <header>
            <div class="pre-header">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                        </div>
                        <div class="col-md-8">
                            <ul class="primary-menu">
                                <li><a href="/home">Home</a></li>
                                <li class="active"><a href="/komitenti">Pregled svih komitenata</a></li>
                                <li v-if="admin"><a href="#">Uvezi komitente</a></li>
                                <li v-if="admin"><a href="/komitenti/novi_komitent">Kreiraj novog komitenta</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="filters d-flex w-100 py-3 justify-content-center">
            <div>
                <label style="margin-right:3px;" for="naziv">Naziv: </label>
                <input v-model="filter.nazivFilter" style="margin-right:10px;" type="text" name="naziv" id="nazivInput" placeholder="Naziv za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="adresaInput">Adresa: </label>
                <input v-model="filter.adresaFilter" style="margin-right:2px;" type="text" name="adresa" id="adresaInput" placeholder="Adresa za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="maticniBrojInput">Maticni broj: </label>
                <input v-model="filter.maticniBrojFilter" style="margin-right:2px;" type="text" name="maticni_broj" id="maticniBrojInput" placeholder="Maticni broj za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="pibInput">Pib: </label>
                <input v-model="filter.pibFilter" style="margin-right:2px;" type="text" name="pib" id="pibInput" placeholder="Pib za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="tekuciRacunInput">Tekuci racun: </label>
                <input v-model="filter.tekuciRacunFilter" style="margin-right:2px;" type="text" name="tekuci_racun" id="tekuciRacunInput" placeholder="Tekuci racun za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="opisInput">Opis: </label>
                <input v-model="filter.opisFilter" style="margin-right:2px;" type="text" name="opis" id="opisInput" placeholder="Opis za pretragu...">
            </div>
            <button style="margin-left:3px; padding-left:5px; padding-right:5px;" class="btn border border-dark" @click="pretrazi">Pretrazi</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Naziv</th>
                    <th>Adresa</th>
                    <th>Maticni broj</th>
                    <th>Pib</th>
                    <th>Tekuci racun</th>
                    <th>Funkcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(stavka, index) in komitentiZaPrikaz">
                    <td>{{stavka.id}}</td>
                    <td>{{stavka.naziv}}</td>
                    <td>{{stavka.adresa}}</td>
                    <td>{{stavka.maticni_broj}}</td>
                    <td>{{stavka.pib}}</td>
                    <td>{{stavka.tekuci_racun}}</td>
                    <td>
                        <button v-if="admin" style = "min-width : 65px" class="btn btn-outline-dark" style="width : 33%!important;" data-toggle="modal" data-target="#izmenaModal" @click="selektovaniKomitent = stavka.id; komitentZaIzmenu = {...komitentiZaPrikaz[index]};">Izmeni</button>
                        <button style = "min-width : 65px" class="btn btn-outline-dark" style="width : 33%!important;" data-toggle="modal" data-target="#detaljiModal" @click="detaljiKomitenti(index)">Detalji</button>
                        <button v-if="admin" style = "min-width : 65px" class="btn btn-outline-dark" style="width : 33%!important;" @click="ukloni(stavka.id)">Ukloni</button>
                    </td>
                </tr>
            </tbody>
        </table>  

        <!-- Modal detalji -->
        <div class="modal fade" id="detaljiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h4 class="modal-title" id="myModalLabel">{{komitentDetalji.naziv}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>Adresa: {{komitentDetalji.adresa}}</p>
                        <p>Maticni broj: {{komitentDetalji.maticni_broj}}</p>
                        <p>Pib: {{komitentDetalji.pib}}</p>
                        <p>Tekuci racun: {{komitentDetalji.tekuci_racun}}</p>
                        <p>Opis: {{komitentDetalji.opis}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal izmena-->
        <div class="modal fade" id="izmenaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Izmena konta</h4>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="izmeniKomitenta">
                            <div style="margin-bottom: 3px;">
                                <label for="nazivInput" style="margin-right: 49px;">Naziv: </label>
                                <input v-model="komitentZaIzmenu.naziv" type="text" name="naziv" id="nazivInput">
                            </div>
                            <div style="margin-bottom: 3px;">
                                <label for="adresaInput" style="margin-right: 39px;">Adresa: </label>
                                <input v-model="komitentZaIzmenu.adresa" type="text" name="adresa" id="adresaInput">
                            </div>
                            <div style="margin-bottom: 3px;">
                                <label for="maticniBrojInput" style="margin-right: 3px;">Maticni broj: </label>
                                <input v-model="komitentZaIzmenu.maticni_broj" type="text" name="maticni_broj" id="maticniBrojInput">
                            </div>
                            <div style="margin-bottom: 3px;">
                                <label for="pibInput" style="margin-right: 65px;">Pib: </label>
                                <input v-model="komitentZaIzmenu.pib" type="text" name="pib" id="pibInput">
                            </div>
                            <div style="margin-bottom: 3px;">
                                <label for="tekuciRacunInput">Tekuci racun: </label>
                                <input v-model="komitentZaIzmenu.tekuci_racun" type="text" name="tekuci_racun" id="tekuciRacunInput">
                            </div>
                            <div style="margin-bottom: 3px;">
                                <label for="opisInput">Opis: </label>
                                <textarea v-model="komitentZaIzmenu.opis" name="opis" id="opisInput" cols="30" rows="3"></textarea>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-default justyify-content-right">Izmeni konto</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    admin : false,
                    komitenti : [],
                    komitentiZaPrikaz : [],
                    selektovaniKomitent : 0,
                    filter : {
                        nazivFilter : undefined,
                        adresaFilter : undefined,
                        maticniBrojFilter : undefined,
                        pibFilter : undefined,
                        tekuciRacunFilter : undefined,
                        opisFilter : undefined
                    },
                    komitentDetalji : {
                        naziv : undefined,
                        adresa : undefined,
                        maticni_broj : undefined,
                        pib : undefined,
                        tekuci_racun : undefined,
                        opis : undefined
                    },
                    komitentZaIzmenu : {
                        naziv : undefined,
                        adresa : undefined,
                        maticni_broj : undefined,
                        pib : undefined,
                        tekuci_racun : undefined,
                        opis : undefined
                    }
                }
            },
            created() {
                axios.get("/api/komitenti").then(response => {
                    this.komitenti = response.data;
                    this.komitentiZaPrikaz = [...this.komitenti];
                });
                axios.get("/api/permisije").then(response => {
                    let session = response.data;
                    let prava_pristupa = session["prava_pristupa"];
                    if(prava_pristupa.includes(1)) {
                        this.admin = true;
                    }
                    else {
                        this.admin = false;
                    }
                });
            },
            methods : {
                ukloni(index) {
                    axios.delete(`/api/komitenti/${index}`).then(response => {
                        axios.get("/api/komitenti").then(response => {
                            this.komitenti = response.data;
                            this.komitentiZaPrikaz = [...this.komitenti];
                        });
                    });
                },
                pretrazi() {
                    let filter = this.filter;
                    let nazivFilter = filter.nazivFilter || '';
                    let adresaFilter = filter.adresaFilter || '';
                    let maticniBrojFilter = filter.maticniBrojFilter || '';
                    let pibFilter = filter.pibFilter || '';
                    let tekuciRacunFilter = filter.tekuciRacunFilter || '';
                    let opisFilter = filter.opisFilter || '';
                    let temp = [];

                    for(let i = 0; i < this.komitenti.length;i++) {
                        let row = this.komitenti[i];
                        if(row["naziv"].toUpperCase().indexOf(nazivFilter.toUpperCase()) > -1 && row["adresa"].toUpperCase().indexOf(adresaFilter.toUpperCase()) > -1 
                        && row["maticni_broj"].indexOf(maticniBrojFilter) > -1 && row["pib"].indexOf(pibFilter) > -1 && row["tekuci_racun"].indexOf(tekuciRacunFilter) > -1
                        && row["opis"].toUpperCase().indexOf(opisFilter.toUpperCase()) > -1) {
                            temp.push(row);
                        }
                    }
                    this.komitentiZaPrikaz = temp;
                },
                detaljiKomitenti(index) {
                    this.komitentDetalji = {...this.komitenti[index]};
                },
                izmeniKomitenta() {
                    document.querySelector('#izmenaModal').classList.remove('show');
                    document.querySelector('body').classList.remove('modal-open');
                    const mdbackdrop = document.querySelector('.modal-backdrop');
                    if (mdbackdrop){
                        mdbackdrop.classList.remove('modal-backdrop', 'show');
                    }
                    axios.put(`/api/komitenti/${this.selektovaniKomitent}`, this.komitentZaIzmenu).then(response => {
                        axios.get("/api/komitenti").then(response => {
                            this.komitenti = response.data;
                            this.komitentiZaPrikaz = [...this.komitenti];
                        });
                    }).catch(err => {
                        if(err.response.status === 403) {
                            window.location.replace("/komitenti");
                        }
                    });
                }
            }
        }).mount("#app");
    </script>
</body> 
</html>