<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Nalozi</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/kontni_okvir_style.css">
</head>
<body style="background-color: rgba(241,240,246,255);">
    <div id="app">
        <header>
            <div class="pre-header">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                        </div>
                        <div class="col-md-8">
                            <ul class="primary-menu">
                                <li><a href="/home">Home</a></li>
                                <li class="active"><a href="/nalozi">Pregled svih naloga</a></li>
                                <li><a href="/nalozi/novi_nalog">Kreiraj novi nalog</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <p class="errorMessage bg-danger" style="font-weight: 100px;"></p>
        <table>
            <thead>
                <tr>
                    <th>Ime naloga</th>
                    <th>Datum naloga</th>
                    <th>Datum knjizenja</th>
                    <th>Opis</th>
                    <th>Duguje</th>
                    <th>Potrazuje</th>
                    <th>Saldo</th>
                    <th>Funkcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(nalog, index) in nalozi">
                    <td>{{nalog.ime_naloga_sifra}}</td>
                    <td>{{nalog.datum_naloga}}</td>
                    <td>{{nalog.datum_knjizenja}}</td>
                    <td>{{nalog.opis}}</td>
                    <td>{{nalog.duguje}}</td>
                    <td>{{nalog.potrazuje}}</td>
                    <td>{{nalog.saldo}}</td>
                    <td>
                        <button v-if="admin && nalog.proknjizenoCheck" style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;" data-toggle="modal" data-target="#izmenaModal" @click="selektovaniNalog = nalog.id; nalogZaIzmenu = {...nalozi[index]};">Izmeni</button>
                        <button style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;" data-toggle="modal" data-target="#detaljiModal" @click="detaljiNalog(index)">Detalji</button>
                        <button v-if="nalog.proknjizenoCheck" style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;" @click="ukloniNalog(nalog.id)">Ukloni</button>
                        <button v-if="admin && nalog.proknjizenoCheck == false" style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;" @click="storniraj(nalog.id)">Storniraj</button>
                        <button style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;" data-toggle="modal" data-target="#stavkeModal" @click="stavke(nalog.id); selektovaniNalog = nalog.id; proknjizeno = nalog.proknjizenoCheck">Stavke</button>
                        <button v-if="nalog.proknjizenoCheck" style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;"  @click="proklnjizi(nalog.id);">Proknjizi</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal detalji -->
        <div class="modal fade" id="detaljiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nalog</h4>
                    </div>
                    <div class="modal-body">
                        <p>ID: {{nalogDetalji.id}}</p>
                        <p>Ime naloga: {{nalogDetalji.ime_naloga_sifra}}</p>
                        <p>Datum naloga: {{nalogDetalji.datum_naloga}}</p>
                        <p>Datum knjizenja: {{nalogDetalji.datum_knjizenja}}</p>
                        <p>Opis: {{nalogDetalji.opis}}</p>
                        <p>Duguje: {{nalogDetalji.duguje}}</p>
                        <p>Potrazuje: {{nalogDetalji.potrazuje}}</p>
                        <p>Saldo: {{nalogDetalji.saldo}}</p>
                        <p>Proknjizeno: {{nalogDetalji.proknjizeno}}</p>
                        <p>Korisnik koji je knjizio: {{nalogDetalji.korisnik_username}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal izmena-->
        <div class="modal fade" id="izmenaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Izmena naloga</h4>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="izmeniNalog">
                            <div class="my-1">
                                <label for="imeNalogaInput" style="margin-right: 5px;">Ime naloga: </label>
                                <select v-model="nalogZaIzmenu.ime_naloga_sifra" name="ime_naloga_sifra" id="imeNalogaInput">
                                    <option v-for="(ime, index) in ime_naloga" :value="ime.sifra">{{ime.sifra}} - {{ime.naziv}}</option>
                                </select>
                            </div>
                            <div class="my-1">
                                <label for="opisInput" style="margin-right: 83px;">Opis: </label>
                                <textarea v-model="nalogZaIzmenu.opis" name="opis" id="opisInput" cols="30" rows="10"></textarea>
                            </div>
                            <div class="d-flex flex-row-reverse my-1">
                                <button type="submit" class="btn btn-default justyify-content-right">Izmeni nalog</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal stavke -->
        <div class="modal fade" id="stavkeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nalog</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table>
                            <thead>
                                <tr>
                                    <th>Konto</th>
                                    <th>Komitent</th>
                                    <th>Opis</th>
                                    <th>Datum racuna</th>
                                    <th>Datum valute</th>
                                    <th>Duguje</th>
                                    <th>Potrazuje</th>
                                    <th>Saldo</th>
                                    <th v-if="proknjizeno">Funkcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(stavka, index) in stavkeNaloga">
                                    <td>{{stavka.konto_sifra}}</td>
                                    <td>{{stavka.komitent_naziv}}</td>
                                    <td>{{stavka.opis}}</td>
                                    <td>{{stavka.datum_racuna}}</td>
                                    <td>{{stavka.datum_valute}}</td>
                                    <td>{{stavka.duguje}}</td>
                                    <td>{{stavka.potrazuje}}</td>
                                    <td>{{stavka.saldo}}</td>
                                    <td v-if="proknjizeno">
                                        <button class="btn border border-dark" @click="ukloniStavku(stavka.id)">Ukloni</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        <hr>
                        <div v-if="proknjizeno" class="row">
                            <form @submit.prevent="dodajStavku">
                            <div class="row my-1">
                                <div class="col-md-3">
                                    <label for="KontoInput">Konto: </label>
                                    <input v-model="stavkaZaDodavanje.konto_sifra" type="text" name="konto" id="kontoInput" @change="proveraKonta(this)">
                                </div>
                                <div v-if="analitickiCheck" class="col-md-3">
                                    <label for="komitentSelect">Komitent: </label>
                                    <select v-model="stavkaZaDodavanje.komitent_id" name="komitent_id" id="komitentSelect">
                                        <option v-for="(komitent, index) in komitenti" :value="komitent.id">{{komitent.naziv}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="opisInput">Opis: </label>
                                    <textarea v-model="stavkaZaDodavanje.opis" name="opis" id="opisInput" cols="25" rows="1"></textarea>
                                </div>
                                <div class="col-md-3">
                                    <label for="datumRacunaInput">Datum racuna: </label>
                                    <input v-model="stavkaZaDodavanje.datum_racuna" type="date" name="datum_racuna" id="datumRacunaInput">
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-md-3">
                                    <label for="datumValuteInput" >Datum valute: </label>
                                    <input v-model="stavkaZaDodavanje.datum_valute" type="date" name="datum_valute" id="datumValuteInput">
                                </div>
                                <div class="col-md-3">
                                    <label for="dugujeInput">Duguje: </label>
                                    <input v-model="stavkaZaDodavanje.duguje" type="number" name="duguje" id="dugujeInput">
                                </div>
                                <div class="col-md-3">
                                    <label for="potrazujeInput">Potrazuje: </label>
                                    <input v-model="stavkaZaDodavanje.potrazuje" type="number" name="potrazuje" id="potrazujeInput">
                                </div>
                                <div class="col-md-3">
                                    <label for="saldoInput">Saldo: </label>
                                    <input v-model="stavkaZaDodavanje.saldo" type="number" name="saldo" id="saldoInput" disabled>
                                </div>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-default justyify-content-right">Dodaj stavku</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    admin : false,
                    stavkeNaloga : [],
                    komitenti : [],
                    stavkaZaDodavanje : {
                        konto_sifra : undefined,
                        komitent_id : undefined,
                        opis : undefined,
                        datum_racuna: undefined,
                        datum_valute : undefined,
                        duguje : undefined,
                        potrazuje : undefined,
                        saldo : undefined,
                        nalog_id : undefined
                    },
                    selektovaniNalog : {},
                    nalozi : [],
                    ime_naloga : [],
                    nalogDetalji : {
                        id : undefined,
                        ime_naloga_sifra : undefined,
                        datum_naloga : undefined,
                        datum_knjizenja : undefined,
                        opis : undefined,
                        duguje : undefined,
                        potrazuje : undefined,
                        saldo : undefined,
                        opis : undefined,
                        proknjizeno : undefined,
                        korisnik_id : undefined,
                        korisnik : undefined,
                        korisnik_username : undefined
                    },
                    nalogZaIzmenu : {
                        id : undefined,
                        ime_naloga_sifra : undefined,
                        datum_naloga : undefined,
                        datum_knjizenja : undefined,
                        opis : undefined,
                        duguje : undefined,
                        potrazuje : undefined,
                        saldo : undefined,
                        opis : undefined,
                        proknjizeno : undefined,
                        korisnik_id : undefined,
                        korisnik : undefined,
                    },
                    nalogZaKnjizenje : {
                        id : undefined,
                        ime_naloga_sifra : undefined,
                        datum_naloga : undefined,
                        datum_knjizenja : undefined,
                        opis : undefined,
                        duguje : undefined,
                        potrazuje : undefined,
                        saldo : undefined,
                        opis : undefined,
                        proknjizeno : undefined,
                        korisnik_id : undefined,
                        korisnik : undefined,
                    },
                    analitickiCheck : false,
                    proknjizeno : false
                }
            },
            created() {
                axios.get("/api/nalozi").then(response => {
                    for(let i = 0; i<response.data.length;i++) {
                        response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                    }
                    this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                });
                axios.get("/api/permisije").then(response => {
                    let session = response.data;
                    let prava_pristupa = session["prava_pristupa"];
                    if(prava_pristupa.includes(1)) {
                        this.admin = true;
                    }
                    else {
                        this.admin = false;
                    }
                });
                axios.get("/api/ime_naloga").then(response => {
                    this.ime_naloga = response.data;
                });
                axios.get("/api/komitenti").then(response => {
                    this.komitenti = response.data;
                });
            },
            methods : {
                detaljiNalog(index) {
                    this.nalogDetalji = {...this.nalozi[index]};
                    axios.get("/api/korisnici").then(response => {
                        for(let i = 0; i < response.data.length;i++) {
                            if(response.data[i]["id"] == this.nalogDetalji["korisnik_id"]) {
                                this.nalogDetalji["korisnik"] = response.data[i];
                                this.nalogDetalji["korisnik_username"] = response.data[i]["username"];
                            }
                        }
                    });
                },
                ukloniNalog(index) {
                    axios.delete(`/api/nalozi/${index}`).then(response => {
                        axios.get("/api/nalozi").then(response => {
                            for(let i = 0; i<response.data.length;i++) {
                                response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                            }
                            this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                        });
                    }).catch(err => {
                        if(err.response.status === 405) {
                            document.querySelector(".errorMessage").textContent = "Ovaj nalog ima stavke, morate prvo ukloniti njih.";
                            document.querySelector(".errorMessage").classList.add("fade-out");
                            setInterval(function () {
                                document.querySelector(".errorMessage").textContent = "";
                                document.querySelector(".errorMessage").classList.remove("fade-out");
                            }, 5000);
                        }
                    });
                },
                proklnjizi(index) {
                    axios.get(`/api/nalozi/${index}`).then(response=> {
                        if (response.data["saldo"] == 0) {
                            if(response.data["ime_naloga_sifra"] == "PS") {
                            axios.post(`/api/nalozi/proknjizi/${index}`).then(response => {
                                axios.get("/api/nalozi").then(response => {
                                    for(let i = 0; i<response.data.length;i++) {
                                        response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false;
                                    }
                                    this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                                });
                            });
                        }
                        else {
                            axios.post(`/api/nalozi/proknjizi/${index}`).then(response => {
                                axios.get("/api/nalozi").then(response => {
                                    for(let i = 0; i<response.data.length;i++) {
                                        response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false;
                                    }
                                    this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                                });
                            });
                        }
                        }
                    });
                },
                izmeniNalog() {
                    document.querySelector('#izmenaModal').classList.remove('show');
                    document.querySelector('body').classList.remove('modal-open');
                    const mdbackdrop = document.querySelector('.modal-backdrop');
                    if (mdbackdrop){
                        mdbackdrop.classList.remove('modal-backdrop', 'show');
                    }
                    axios.put(`/api/nalozi/${this.selektovaniNalog}`, this.nalogZaIzmenu).then(response => {
                        axios.get("/api/nalozi").then(response => {
                            for(let i = 0; i<response.data.length;i++) {
                                response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                            }
                            this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                        });
                    }).catch(err => {
                        if(err.response.status === 403) {
                            window.location.replace("/nalozi");
                        }
                    });
                },
                stavke(index) {
                    axios.get(`/api/stavke/${index}`).then(response => {
                        this.stavkeNaloga = response.data;
                    });
                },
                dodajStavku() {
                    this.stavkaZaDodavanje["saldo"] = this.stavkaZaDodavanje["duguje"] - this.stavkaZaDodavanje["potrazuje"];
                    this.stavkaZaDodavanje["nalog_id"] = this.selektovaniNalog;
                    this.stavkaZaDodavanje["komitent_id"] = (this.stavkaZaDodavanje["komitent_id"] == undefined) ? "" : this.stavkaZaDodavanje["komitent_id"];
                    this.stavkaZaDodavanje["datum_valute"] = (this.stavkaZaDodavanje["datum_valute"] == undefined) ? "" : this.stavkaZaDodavanje["datum_valute"];
                    axios.get(`/api/nalozi/${this.selektovaniNalog}`).then(response=> {
                        axios.post("api/stavke", this.stavkaZaDodavanje).then(response => {
                            axios.put(`/api/nalozi/${this.selektovaniNalog}/izmena_cifara`, this.stavkaZaDodavanje).then(response =>{
                                this.stavkaZaDodavanje = {};
                                axios.get(`/api/stavke/${this.selektovaniNalog}`).then(response => {
                                    this.stavkeNaloga = response.data;
                                    axios.get("/api/nalozi").then(response => {
                                        for(let i = 0; i<response.data.length;i++) {
                                            response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                                        }
                                        this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                                    });
                                });
                            });
                        });
                    });
                },
                proveraKonta(element) {
                    let value = event["target"].value;
                    axios.get("/api/kontni_okvir").then(response => {
                        let kontni_okvir = response.data;
                        
                        for(let i = 0; i < kontni_okvir.length;i++) {
                            
                            if(kontni_okvir[i]["konto"] == value) {
                                if(kontni_okvir[i]["tip"] === "A") {
                                    this.analitickiCheck = true;
                                    console.log("A");
                                }
                                else if(kontni_okvir[i]["tip"] === "S" || kontni_okvir[i]["tip"] === "") {
                                    this.analitickiCheck = false;
                                }
                            }
                        }
                    });
                },
                ukloniStavku(stavkaId) {
                    axios.delete(`/api/stavke/${stavkaId}`).then(response => {
                        if(response.status === 404) {
                            axios.get(`/api/stavke/${index}`).then(response => {
                                this.stavkeNaloga = response.data;
                                axios.get("/api/nalozi").then(response => {
                                    for(let i = 0; i<response.data.length;i++) {
                                        response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                                    }
                                    this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                                });
                            });
                        }
                        else {
                            axios.get(`/api/stavke/${this.selektovaniNalog}`).then(response => {
                                this.stavkeNaloga = response.data;
                                axios.get("/api/nalozi").then(response => {
                                    let temp = [];
                                    for(let i = 0; i<response.data.length;i++) {
                                        response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                                    }
                                    for (var i = response.data.length - 1; i >= 0; i--) {
                                        temp.push(response.data[i]);
                                    }
                                    this.nalozi = temp;
                                });
                            });
                        }
                    });
                },
                storniraj(id) {
                    axios.post(`/api/nalog/storniraj/${id}`).then(response => {
                        axios.get("/api/nalozi").then(response => {
                            for(let i = 0; i<response.data.length;i++) {
                                response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false; 
                            }
                            this.nalozi = response.data.sort((a, b) => {return a- b;}).reverse();
                        });
                    });
                }
            }
        }).mount("#app");
    </script>
</body>
</html>