<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontni okvir | Novi konto</title>
    <link rel="stylesheet" href="../css/home_style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-color: rgba(241,240,246,255);">
    <header>
        <div class="pre-header">
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                    </div>
                    <div class="col-md-8">
                        <ul class="primary-menu">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/nalozi">Pregled svih naloga</a></li>
                            <li class="active"><a href="/nalozi/novi_nalog">Kreiraj novi nalog</a></li>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="app">
        <form @submit.prevent="dodajNalog" class="d-flex flex-column container border border-dark align-items-center w-25 h-50 my-1">
            <div class="my-1">
                <label for="imeNalogaInput" style="margin-right: 3px;">Ime naloga: </label>
                <select v-model="noviNalog.ime_naloga_sifra" name="ime_naloga_sifra" id="imeNalogaInput">
                    <option v-for="(ime_naloga_sifra, index) in ime_naloga" :value="ime_naloga_sifra.sifra">{{ime_naloga_sifra.naziv}}</option>
                </select>
            </div>
            <div class="mb-1">
                <label for="datumNalogaInput" style="margin-right: 3px;">Datum naloga: </label>
                <input v-model="noviNalog.datum_naloga" type="date" name="datum_naloga_sifra" id="datumNalogaInput">
            </div>
            <div class="mb-1">
                <label for="opisInput" style="margin-right: 3px;">Opis: </label>
                <input v-model="noviNalog.opis" type="text" name="opis" id="opisInput" placeholder="Unesi opis naloga...">
            </div>            
            <div class="mb-1">
                <button type="submit" style="margin-right: 3px;padding-left: 5px;padding-right: 5px;">Kreirej nalog</button>
            </div>
        </form>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    noviNalog : {
                        ime_naloga_sifra : undefined,
                        datum_naloga : undefined,
                        opis : undefined,
                        duguje : 0,
                        potrazuje : 0,
                        saldo : 0,
                        korisnik_id : undefined
                    },
                    ime_naloga : []
                }
            },
            created() {
                axios.get("/api/ime_naloga").then(response => {
                    this.ime_naloga = response.data;
                });
                axios.get("/api/permisije").then(response => {
                    let session = response.data;
                    axios.get("/api/korisnici").then(response =>{
                        for(let i = 0; i< response.data.length;i++) {
                            if(response.data[i]["username"] == session["username"]) {
                                this.noviNalog["korisnik_id"] = response.data[i]["id"];
                            }
                        }
                        console.log(this.noviNalog);
                    });
                });
            },
            methods : {
                dodajNalog() {
                    let data = [];
                    data.push(this.noviNalog);
                    axios.post("/api/nalozi", JSON.stringify(data), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        if(response.status === 201) {
                            this.noviNalog = {
                                ime_naloga_sifra : undefined,
                                datum_naloga : undefined,
                                opis : undefined,
                                duguje : undefined,
                                potrazuje : undefined,
                                saldo : undefined,
                                korisnik_id : undefined
                            }
                        }
                    }).catch(err => {
                        if(err.response.status === 403) {
                            window.location.replace("/nalozi");
                        }
                    });
                }
            }
        }).mount("#app");
    </script>
</body>
</html>