* {
    margin:0;
    padding:0;
}

body {
    background-color: #f9f9f9;
}

.pre-header {
    padding: 15px;
    background-color: #111618;
    height: 60px;
}

.pre-header p {
    color: #f5f5f5;
}

.pre-header span {
    color: #a0a2a4;
}

.pre-header .primary-menu {
    list-style: none;
}
.pre-header .primary-menu li {
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}
.pre-header .primary-menu li a {
    text-decoration: none;
    color: #979a9b;
    text-transform: uppercase;
}
.pre-header .primary-menu li:hover {
    background-color: white;
    transition: 0.3s;
}
.pre-header .primary-menu li {
    display: inline-block;
    margin-left: 5px;
}

.pre-header .primary-menu .active {
    background-color: green;
    border: 1px solid grey
}