table {
    border-collapse: collapse;
    width: 100%;
}

tr, td, th {
    border: 1px solid black;
}

td {
    text-align: center;
}
th {
    text-align: center;
}

.fade-out {
    opacity: 0;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 20s;
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.66;
    }
    30% {
        opacity: 0.33;
    }
    100% {
        opacity: 0;
    }
}

.errorMessage {
    color: black!important;
    font-weight: 100px;
}