<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Bruto bilans</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/kontni_okvir_style.css">
</head>
<body>
    <div id="app">
            <header>
                <div class="pre-header">
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                            </div>
                            <div class="col-md-8">
                                <ul class="primary-menu">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/dnevnik">Dnevnik</a></li>
                                    <li><a href="/glavna_knjiga">Glavna knjiga</a></li>
                                    <li class="active"><a href="/bruto_bilans">Bruto bilans</a></li>
                                    <li><a href="/logout">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="filters d-flex w-100 py-3 justify-content-center">
            <div>
                <label style="margin-right:3px;" for="konto">Konto: </label>
                <input v-model="filter.kontoFilter" style="margin-right:10px;" type="text" name="konto" id="kontoInput" placeholder="Konto za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="nazivInput">Naziv: </label>
                <input v-model="filter.nazivFilter" style="margin-right:2px;" type="text" name="naziv" id="kontoInput" placeholder="Naziv konta za pretragu...">
            </div>
            <button style="margin-left:3px; margin-top:-5px;" class="btn border border-dark" @click="pretrazi">Pretrazi</button>
        </div>
            <table>
                <thead>
                    <tr style="background-color: rgb(191, 191, 191);border: 2px solid red;">
                        <th>Konto</th>
                        <th>Naziv</th>
                        <th>Pocetno stanje dugovna</th>
                        <th>Pocetno stanje potrazna</th>
                        <th>Tekuci promet dugovna</th>
                        <th>Tekuci promet potrazna</th>
                        <th>Promet sa pocetnim dugovna</th>
                        <th>Promet sa pocetnim potrazna</th>
                        <th>Dugovna saldo</th>
                        <th>Potrazna saldo</th>
                        <th>Funkcije</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(konto, index) in kontniOkvirZaPrikaz" style=" border-right: 2px solid red;border-left: 2px solid red;">
                        <td>{{konto.konto}}</td>
                        <td>{{konto.naziv}}</td>
                        <td>{{konto.pocetno_stanje_duguje}}</td>
                        <td>{{konto.pocetno_stanje_potrazuje}}</td>
                        <td>{{konto.duguje}}</td>
                        <td>{{konto.potrazuje}}</td>
                        <td>{{konto.promet_pocetno_duguje}}</td>
                        <td>{{konto.promet_pocetno_potrazuje}}</td>
                        <td>{{konto.dugovna_saldo}}</td>
                        <td>{{konto.potrazuje_saldo}}</td>
                        <td>
                            <button style = "min-width : 65px" class="btn btn-outline-dark" style="width : 33%!important;" data-toggle="modal" data-target="#detaljiModal" @click="detaljiKonto(konto.konto)">Detalji</button>
                        </td>
                    </tr>
                    <tr style="border: 2px solid red;background-color: rgb(130, 130, 130); ">
                        <td></td>
                        <td style="text-align:right;font-weight:bolder;">Zbirno: </td>
                        <td>{{zbir.zbir_pocetno_dugovna}}</td>
                        <td>{{zbir.zbir_pocetno_potrazna}}</td>
                        <td>{{zbir.zbir_tekuci_dugovna}}</td>
                        <td>{{zbir.zbir_tekuci_potrazna}}</td>
                        <td>{{zbir.zbir_tekuci_pocetno_dugovna}}</td>
                        <td>{{zbir.zbir_tekuci_pocetno_potrazna}}</td>
                        <td>{{zbir.zbir_saldo_dugovna}}</td>
                        <td>{{zbir.zbir_saldo_potrazna}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <!-- Modal detalji -->
            <div class="modal fade" id="detaljiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Konto: {{kontoDetalji.konto}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>Naziv: {{kontoDetalji.naziv}}</p>
                            <p>Tip: {{kontoDetalji.tip}}</p>
                            <p>Duguje: {{kontoDetalji.duguje}}</p>
                            <p>Potrazuje: {{kontoDetalji.potrazuje}}</p>
                            <p>Saldo: {{kontoDetalji.saldo}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    zbir : [],
                    kontni_okvir : [],
                    kontniOkvirZaPrikaz : [],
                    kontoDetalji: {
                        "konto" : undefined,
                        "naziv" : undefined,
                        "tip" : undefined,
                        "duguje" : undefined,
                        "potrazuje" : undefined,
                        "saldo" : undefined,
                    },
                    filter : {
                        kontoFilter : undefined,
                        nazivFilter : undefined
                    }
                }
            },
            created() {
                axios.get("/api/kontni_okvir").then(response => {
                    this.kontni_okvir = response.data;
                    this.kontniOkvirZaPrikaz = [...this.kontni_okvir];
                });
                axios.get("/api/bruto_bilans/zbir").then(response=>{
                    this.zbir = response.data;
                    console.log(this.zbir);
                });
            },
            methods : {
                detaljiKonto(konto) {
                    axios.get(`/api/kontni_okvir/${konto}`).then(response => {
                        if(this.kontoDetalji["tip"]  == "S") {
                            this.kontoDetalji["tip"] = "Sinteticki konto";
                        }
                        else if(this.kontoDetalji["tip"]  == "A") {
                            this.kontoDetalji["tip"] = "Analiticki konto";
                        }
                        else {
                            this.kontoDetalji["tip"] = "Analiticki konto";
                        }
                        this.kontoDetalji = response.data;
                    });
                },
                pretrazi() {
                    let filter = this.filter;
                    let kontoFilter = filter.kontoFilter || '';
                    let nazivFilter = filter.nazivFilter || '';
                    let temp = [];
                    for(let i = 0; i < this.kontni_okvir.length;i++) {
                        let row = this.kontni_okvir[i];
                        if(row["konto"].indexOf(kontoFilter) > -1 && row["naziv"].toUpperCase().indexOf(nazivFilter.toUpperCase()) > -1) {
                            temp.push(row);
                        }
                    }
                    this.kontniOkvirZaPrikaz = temp;
                },
            }
        }).mount("#app");
    </script>
</body>
</html>