<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Nalozi</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/kontni_okvir_style.css">
</head>
<body style="background-color: rgba(241,240,246,255);">
    <div id="app">
        <header>
                <div class="pre-header">
                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                            </div>
                            <div class="col-md-8">
                                <ul class="primary-menu">
                                    <li><a href="/home">Home</a></li>
                                    <li class="active"><a href="/dnevnik">Dnevnik</a></li>
                                    <li><a href="/glavna_knjiga">Glavna knjiga</a></li>
                                    <li><a href="/bruto_bilans">Bruto bilans</a></li>
                                    <li><a href="/logout">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

        <table>
            <thead>
                <tr style="border: 2px solid red;background-color: rgb(130, 130, 130); ">
                    <th>Datum knjizenja</th>
                    <th>Ime naloga</th>
                    <th>Datum naloga</th>
                    <th>Opis</th>
                    <th>Duguje</th>
                    <th>Potrazuje</th>
                    <th>Saldo</th>
                    <th>Funkcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(nalog, index) in nalozi" style="border-left: 2px solid red;border-right: 2px solid red;">
                    <td>{{nalog.datum_knjizenja}}</td>
                    <td>{{nalog.ime_naloga_sifra}}</td>
                    <td>{{nalog.datum_naloga}}</td>
                    <td>{{nalog.opis}}</td>
                    <td>{{nalog.duguje}}</td>
                    <td>{{nalog.potrazuje}}</td>
                    <td>{{nalog.saldo}}</td>
                    <td>
                        <button style = "min-width : 65px" class="btn btn-outline-dark" style="width : 25%!important;" data-toggle="modal" data-target="#detaljiModal" @click="detaljiNalog(index)">Detalji</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal detalji -->
        <div class="modal fade" id="detaljiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Nalog</h4>
                    </div>
                    <div class="modal-body">
                        <p>ID: {{nalogDetalji.id}}</p>
                        <p>Ime naloga: {{nalogDetalji.ime_naloga_sifra}}</p>
                        <p>Datum naloga: {{nalogDetalji.datum_naloga}}</p>
                        <p>Datum knjizenja: {{nalogDetalji.datum_knjizenja}}</p>
                        <p>Opis: {{nalogDetalji.opis}}</p>
                        <p>Duguje: {{nalogDetalji.duguje}}</p>
                        <p>Potrazuje: {{nalogDetalji.potrazuje}}</p>
                        <p>Saldo: {{nalogDetalji.saldo}}</p>
                        <p>Proknjizeno: {{nalogDetalji.proknjizeno}}</p>
                        <p>Korisnik koji je knjizio: {{nalogDetalji.korisnik_username}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    admin : false,
                    selektovaniNalog : {},
                    nalozi : [],
                    ime_naloga : [],
                    nalogDetalji : {
                        id : undefined,
                        ime_naloga_sifra : undefined,
                        datum_naloga : undefined,
                        datum_knjizenja : undefined,
                        opis : undefined,
                        duguje : undefined,
                        potrazuje : undefined,
                        saldo : undefined,
                        opis : undefined,
                        proknjizeno : undefined,
                        korisnik_id : undefined,
                        korisnik : undefined,
                        korisnik_username : undefined
                    },
                    nalogZaIzmenu : {
                        id : undefined,
                        ime_naloga_sifra : undefined,
                        datum_naloga : undefined,
                        datum_knjizenja : undefined,
                        opis : undefined,
                        duguje : undefined,
                        potrazuje : undefined,
                        saldo : undefined,
                        opis : undefined,
                        proknjizeno : undefined,
                        korisnik_id : undefined,
                        korisnik : undefined,
                    }
                }
            },
            created() {
                axios.get("/api/nalozi").then(response => {
                    let temp = [];
                    for(let i = 0; i<response.data.length;i++) {
                        response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false;
                    }
                
                    this.nalozi = response.data;
                });
                axios.get("/api/permisije").then(response => {
                    let session = response.data;
                    let prava_pristupa = session["prava_pristupa"];
                    if(prava_pristupa.includes(1)) {
                        this.admin = true;
                    }
                    else {
                        this.admin = false;
                    }
                });
                axios.get("/api/ime_naloga").then(response => {
                    this.ime_naloga = response.data;
                });
            },
            methods : {
                detaljiNalog(index) {
                    this.nalogDetalji = {...this.nalozi[index]};
                    axios.get("/api/korisnici").then(response => {
                        for(let i = 0; i < response.data.length;i++) {
                            if(response.data[i]["id"] == this.nalogDetalji["korisnik_id"]) {
                                this.nalogDetalji["korisnik"] = response.data[i];
                                this.nalogDetalji["korisnik_username"] = response.data[i]["username"];
                            }
                        }
                    });
                },
                ukloniNalog(index) {
                    axios.delete(`/api/nalozi/${index}`).then(response => {
                        axios.get("/api/nalozi").then(response => {
                            for(let i = 0; i<response.data.length;i++) {
                                response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false;
                            }
                            this.nalozi = response.data;
                            console.log(this.nalozi);
                        });
                    }).catch(err => {
                        if(err.response.status === 403) {
                            window.location.replace("/nalozi");
                        }
                    });
                },
                proklnjizi(index) {
                    axios.post(`/api/nalozi/proknjizi/${index}`).then(response => {
                        axios.get("/api/nalozi").then(response => {
                            for(let i = 0; i<response.data.length;i++) {
                                response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false;
                            }
                            this.nalozi = response.data;
                            console.log(this.nalozi);
                        });
                    });
                },
                izmeniNalog() {
                    document.querySelector('#izmenaModal').classList.remove('show');
                    document.querySelector('body').classList.remove('modal-open');
                    const mdbackdrop = document.querySelector('.modal-backdrop');
                    if (mdbackdrop){
                        mdbackdrop.classList.remove('modal-backdrop', 'show');
                    }
                    axios.put(`/api/nalozi/${this.selektovaniNalog}`, this.nalogZaIzmenu).then(response => {
                        axios.get("/api/nalozi").then(response => {
                            let temp = [];
                            for(let i = 0; i<response.data.length;i++) {
                                response.data[i]["proknjizenoCheck"] = (response.data[i]["proknjizeno"] == 0) ? true : false;
                            }
                            for (var i = response.data.length - 1; i >= 0; i--) {
                                temp.push(response.data[i]);
                            }
                            this.nalozi = temp;
                        });
                    }).catch(err => {
                        if(err.response.status === 403) {
                            window.location.replace("/nalozi");
                        }
                    });
                }
            }
        }).mount("#app");
    </script>
</body>
</html>