<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Glavna Knjiga</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/kontni_okvir_style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="pre-header">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                        </div>
                        <div class="col-md-8">
                            <ul class="primary-menu">
                                <li><a href="/home">Home</a></li>
                                <li><a href="/dnevnik">Dnevnik</a></li>
                                <li class="active"><a href="/glavna_knjiga">Glavna knjiga</a></li>
                                <li><a href="/bruto_bilans">Bruto bilans</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div v-for="(nalog, nalog_index) in nalozi"  style="border: 2px solid red;">
           <table >
                <thead>
                    <tr>
                        <th style="background-color: rgb(191, 191, 191);" >Datum knjizenja</th>
                        <th style="background-color: rgb(191, 191, 191);" >Ime naloga</th>
                        <th style="background-color: rgb(191, 191, 191);" >Datum naloga</th>
                        <th style="background-color: rgb(191, 191, 191);" >Opis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 7%!important; background-color: rgb(191, 191, 191);">{{nalog.datum_knjizenja}}</td>
                        <td style="width: 5%!important; background-color: rgb(191, 191, 191);">{{nalog.ime_naloga_sifra}}</td>
                        <td style="width: 7%!important; background-color: rgb(191, 191, 191);">{{nalog.datum_naloga}}</td>
                        <td style="width: 2%!important; background-color: rgb(191, 191, 191);">{{nalog.opis}}</td>
                    </tr>
                </tbody>
           </table>
           <table>
                <thead>
                    <tr>
                        <th style="background-color: rgb(191, 191, 191);" >Konto</th>
                        <th style="background-color: rgb(191, 191, 191);" >Komitent</th>
                        <th style="background-color: rgb(191, 191, 191);" >Dokument</th>
                        <th style="background-color: rgb(191, 191, 191);" >Datum racuna</th>
                        <th style="background-color: rgb(191, 191, 191);" >Datum valute</th>
                        <th style="background-color: rgb(191, 191, 191);" >Duguje</th>
                        <th style="background-color: rgb(191, 191, 191);" >Potrazuje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(stavka, index) in svi_nalozi_stavke[nalog_index]">
                        <td style="width: 3%!important">{{stavka.konto_sifra}}</td>
                        <td style="width: 17%!important">{{stavka.komitent_naziv}}</td>
                        <td style="width: 1%!important">{{stavka.opis}}</td>
                        <td style="width: 17%!important">{{stavka.datum_racuna}}</td>
                        <td style="width: 17%!important">{{stavka.datum_valute}}</td>
                        <td style="width: 10%!important">{{stavka.duguje}}</td>
                        <td style="width: 10%!important">{{stavka.potrazuje}}</td>
                    </tr>
                </tbody>
           </table>
        </div>
        <table style="background-color: rgb(130, 130, 130);">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center;">Zbir GK</th>
                </tr>
                <tr>
                    <th>Dugovna</th>
                    <th>Potrazna</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: rgb(130, 130, 130);">
                    <td >{{zbir.duguje}}</td>
                    <td>{{zbir.potrazuje}}</td>
                </tr>
                <tr style="background-color: rgb(130, 130, 130);">
                    <td colspan="2">Kontrolni saldo : {{zbir.saldo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    zbir : {
                        duguje : undefined,
                        potrazuje : undefined
                    },
                    nalozi : [],
                    svi_nalozi_stavke : [],
                    zbir : {}
                }
            },
            created() {
                axios.get("/api/glavna_knjiga").then(response=> {
                    this.nalozi = response.data;
                    for(let i =0; i < response.data.length;i++) {
                        let temp = [];
                        for(let j =0; j < response.data[i]["stavke"].length;j++) {
                            temp.push(response.data[i]["stavke"][j]);
                        }
                        this.svi_nalozi_stavke.push(temp);
                    }
                });
                axios.get("/api/glavna_knjiga/zbir").then(response => {
                    this.zbir = response.data;
                });
            },
            methods : {

            }
        }).mount("#app");
    </script>
</body>
</html>