<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontni okvir | Pregled</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_style.css">
    <link rel="stylesheet" href="css/kontni_okvir_style.css">
</head>
<body style="background-color: rgba(241,240,246,255);">
    <div id="app">
        <header>
            <div class="pre-header">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Finansijsko racunovodstvo <span>By: Dimitrije Jelic</span></p>
                        </div>
                        <div class="col-md-8">
                            <ul class="primary-menu">
                                <li><a href="/home">Home</a></li>
                                <li class="active"><a href="/kontni_okvir">Pregled svih konta</a></li>
                                <li v-if="admin" ><a href="/kontni_okvir/uvoz">Uvezi kontni okvir</a></li>
                                <li v-if="admin" ><a href="/kontni_okvir/novi_konto">Kreiraj novi konto</a></li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="filters d-flex w-100 py-3 justify-content-center">
            <div>
                <label style="margin-right:3px;" for="konto">Konto: </label>
                <input v-model="filter.kontoFilter" style="margin-right:10px;" type="text" name="konto" id="kontoInput" placeholder="Konto za pretragu...">
            </div>
            <div>
                <label style="margin-right:3px;" for="nazivInput">Naziv: </label>
                <input v-model="filter.nazivFilter" style="margin-right:2px;" type="text" name="naziv" id="kontoInput" placeholder="Naziv konta za pretragu...">
            </div>
            <button style="margin-left:3px; margin-top:-5px;" class="btn border border-dark" @click="pretrazi">Pretrazi</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Konto</th>
                    <th>Naziv</th>
                    <th>Tip</th>
                    <th>Funkcije</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(stavka, index) in kontniOkvirZaPrikaz">
                    <td>{{stavka.konto}}</td>
                    <td style="min-width:1065.23px;">{{stavka.naziv}}</td>
                    <td>{{stavka.tip}}</td>
                    <td>
                        <button style = "min-width : 65px" v-if="admin" class="btn btn-outline-dark" style="width : 33%!important;" data-toggle="modal" data-target="#izmenaModal" @click="selektovaniKonto = stavka.konto; selektovaniKontoIndex = index; kontoZaIzmenu = {...kontniOkvirZaPrikaz[index]};">Izmeni</button>
                        <button style = "min-width : 65px" class="btn btn-outline-dark" style="width : 33%!important;" data-toggle="modal" data-target="#detaljiModal" @click="detaljiKonto(stavka.konto)">Detalji</button>
                        <button style = "min-width : 65px" v-if="admin" class="btn btn-outline-dark" style="width : 33%!important;" @click="ukloni(stavka.konto)">Ukloni</button>
                    </td>
                </tr>
            </tbody>
        </table>  

        <!-- Modal detalji -->
        <div class="modal fade" id="detaljiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Konto: {{kontoDetalji.konto}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>Naziv: {{kontoDetalji.naziv}}</p>
                        <p>Tip: {{kontoDetalji.tip}}</p>
                        <p>Duguje: {{kontoDetalji.duguje}}</p>
                        <p>Potrazuje: {{kontoDetalji.potrazuje}}</p>
                        <p>Saldo: {{kontoDetalji.saldo}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal izmena-->
        <div class="modal fade" id="izmenaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Izmena konta</h4>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="izmeniKonto">
                            <div style="margin-bottom: 3px;">
                                <label style="margin-right: 7px;" for="nazivInput">Naziv: </label>
                                <textarea v-model="kontoZaIzmenu.naziv" name="naziv" id="nazivInput" cols="48" rows="3"></textarea>
                            </div>
                            <div style="margin-bottom: 3px;">
                                <label style="margin-right: 24px;" for="kontoInput">Tip: </label>
                                <select v-model="kontoZaIzmenu.tip" name="tip" id="tipSelect">
                                    <option value="A">Analiticki konto</option>
                                    <option value="S">Sinteticki konto</option>
                                </select>
                            </div>
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-default justyify-content-right">Izmeni konto</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    admin : false,
                    kontniOkvir : [],
                    kontniOkvirZaPrikaz : [],
                    selektovaniKonto : "",
                    selektovaniKontoIndex : 0,
                    filter : {
                        kontoFilter : undefined,
                        nazivFilter : undefined
                    },
                    kontoDetalji: {
                        "konto" : undefined,
                        "naziv" : undefined,
                        "tip" : undefined,
                        "duguje" : undefined,
                        "potrazuje" : undefined,
                        "saldo" : undefined,
                    },
                    kontoZaIzmenu: {
                        "konto_izmena" : this.selektovaniKonto,
                        "naziv" : undefined,
                        "tip" : undefined,
                        "duguje" : undefined,
                        "potrazuje" : undefined,
                        "saldo" : undefined,
                    }
                }
            },
            created() {
                axios.get("/api/kontni_okvir").then(response => {
                    this.kontniOkvir = response.data;
                    this.kontniOkvirZaPrikaz = [...this.kontniOkvir];
                    console.log(this.kontniOkvirZaPrikaz);
                });

                axios.get("/api/permisije").then(response => {
                    let session = response.data;
                    let prava_pristupa = session["prava_pristupa"];
                    
                    if(prava_pristupa.includes(1)) {
                        this.admin = true;
                    }
                    else {
                        this.admin = false;
                    }
                });
            },
            methods : {
                detaljiKonto(konto) {
                    axios.get(`/api/kontni_okvir/${konto}`).then(response => {
                        if(this.kontoDetalji["tip"]  == "S") {
                            this.kontoDetalji["tip"] = "Sinteticki konto";
                        }
                        else if(this.kontoDetalji["tip"]  == "A") {
                            this.kontoDetalji["tip"] = "Analiticki konto";
                        }
                        else {
                            this.kontoDetalji["tip"] = "Analiticki konto";
                        }
                        this.kontoDetalji = response.data;
                    });
                },
                ukloni(konto) {
                    axios.delete(`/api/kontni_okvir/${konto}`).then(response => {
                        axios.get("/api/kontni_okvir").then(response => {
                            this.kontniOkvir = response.data;
                            this.kontniOkvirZaPrikaz = [...this.kontniOkvir];
                        });
                    }).catch(err => {
                    if(err.response.status === 403) {
                        window.location.replace("/kontni_okvir");
                    }
                    });
                },
                pretrazi() {
                    let filter = this.filter;
                    let kontoFilter = filter.kontoFilter || '';
                    let nazivFilter = filter.nazivFilter || '';
                    let temp = [];
                    for(let i = 0; i < this.kontniOkvir.length;i++) {
                        let row = this.kontniOkvir[i];
                        if(row["konto"].indexOf(kontoFilter) > -1 && row["naziv"].toUpperCase().indexOf(nazivFilter.toUpperCase()) > -1) {
                            temp.push(row);
                        }
                    }
                    this.kontniOkvirZaPrikaz = temp;
                },
                izmeniKonto() {
                    document.querySelector('#izmenaModal').classList.remove('show');
                    document.querySelector('body').classList.remove('modal-open');
                    const mdbackdrop = document.querySelector('.modal-backdrop');
                    if (mdbackdrop){
                        mdbackdrop.classList.remove('modal-backdrop', 'show');
                    }
                    this.kontoZaIzmenu["konto_izmena"] = this.kontoZaIzmenu["konto"];
                    axios.put(`/api/kontni_okvir/${this.selektovaniKonto}`, this.kontoZaIzmenu).then(response => {
                        axios.get("/api/kontni_okvir").then(response => {
                            this.kontniOkvir = response.data;
                            this.kontniOkvirZaPrikaz = [...this.kontniOkvir];
                        });
                    }).catch(err => {
                        if(err.response.status === 403) {
                            window.location.replace("/kontni_okvir");
                        }
                    });
                }
            }
        }).mount("#app");
    </script>
</body>
</html>